
body {
    margin: 0px;
    padding: 0px;
    }
.class-for-detail {
    background-color: rgb(255, 153, 102)

}
.class-for-list {
    background-color: rgb(255, 153, 102)
}


main {
    padding: 16px;
}
.class-for-detail {}
.class-for-list {}

footer {
    padding: 24px 0px;
    }
.class-for-detail {}
.class-for-list {}

img {
    height: 200px
}
.class-for-detail {}
.class-for-list {}

nav {
    border-bottom: solid black 1px;
    padding: 16px;
}
